<html>
<head>
	<meta charset="UTF-8">
	<title>GPDS</title>
</head>
<body class="page-responsive">
  	<%= render partial: "/layouts/menu" %>



    <%# <%= render partial: "/layouts/slide" %>

	<div class="container">

		<%= render partial: "/layouts/content" %>
	</div>

</body>
</html>