<div class="container" id="sobre">
  <div class="row">
    <div class="col text-center py-3">
     <%= image_tag("gpds_logo_oficial.png", :alt => "rss feed",  width: "100%", height: "100%") %>
    </div>
  </div>
  <div class="row">
    <div class="col text-center py-3">
        <h2>GPDS<br>Grupo de Processamento Digital de Sinais</h2>
        <p class="text-justify">Criado em 2012, o grupo, que é liderado pelo Professor Dr.
        <a href="http://lattes.cnpq.br/3729525547666162" target="_blank"><span id="group-leader">Carlos Danilo
        Régis</span></a> e pelo Professor Dr. <a href="http://lattes.cnpq.br/4943188454915126" target="_blank">
        <span id="group-leader">Luiz Guedes Caldeira</span></a>, é integrante da Unidade de Engenharia Elétrica
        e Telecomunicações do Instituto Federal da Paraíba (IFPB) - Campus João Pessoa e atua nas áreas de
        Processamento de Sinais, Comunicações Digitais e Teoria da Informação e Codificação e tem como principais
        objetivos, o ensino e a pesquisa, visando o desenvolvimento de aplicações e técnicas que resultem em
        melhorias nos processos de pesquisa e benefícios para a sociedade.</p>
     </div>
  </div>
  <div class="row">
    <div class="col text-center py-3">
   
        <input type="button" class="btn btn-primary" target="_blank" role="button" value="Página do GPDS no DGP/CNPQ" onclick=" relocate_home()"> 

        <script>
        function relocate_home()
        {
            location.href = "http://dgp.cnpq.br/dgp/espelhogrupo/9039487349473415";
        } 
        </script>
    </div>
  </div>
</div>