  <header>
      <nav class="navbar navbar-default">
          <div class="container-fluid">

              <div class="navbar-header">
                  <a class="navbar-brand" href="index.php">GPDS IFPB</a>
              </div>

              <div class="navbar-nav navbar-right">
                  <ul class="nav">
                      <li class="navbar-text"><a href="index.php?content=pesquisadores" class="nav-link">PESQUISADORES</a></li>
                      <li class="navbar-text"><a href="index.php?content=pesquisas" class="nav-link">PESQUISAS</a></li>
                      <li class="navbar-text"><a href="index.php?content=publicacoes" class="nav-link">PUBLICAÇÕES</a></li>
                      <li class="navbar-text"><a href="index.php?content=eventos" class="nav-link">EVENTOS</a></li>
                      <li class="navbar-text"><a href="index.php?content=blog" class="nav-link">BLOG</a></li>
                      <li class="navbar-text"><a href="index.php?content=agenda" class="nav-link">AGENDA</a></li>
                      <li class="navbar-text"><a href="#contato" class="nav-link">CONTATO</a></li>
                  </ul>
              </div>

          </div>
      </nav>
  </header>